# Virtual Environment
venv/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment variables
.env

# Static and media files
/static/
/media/

# IDE settings
.idea/
.vscode/
