django
django-cors-headers
djangorestframework-simplejwt
rest_framework_simplejwt
python-decouple
djangorestframework
psycopg2-binary
django-environ
twilio
pandas
scikit-learn
xgboost
gunicorn
dj_database_url

